/* External CSS */

h1 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  background-color: black;
  color: gold;
  padding: auto;
  border: 2px solid gold;
  border-radius: 10px;
}

.cls01 {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  background-color:seashell;
}

img {
  width: 1000px;
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  margin: auto;
}

figure {
  text-align: center;
}

h2 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: darkblue;
}

#id01 {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;

  color:rgb(0, 109, 62)
}


#id02 {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;

  color:rgb(109, 0, 109)
}

h3 {
 font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  color: darkgreen;
}

#id03 {
    text-align: justify;
  
}
